/* common */
html {
  font-size: 100%;
}

body {
  line-height: 1.7;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

/* header */
header ul {
  list-style-type: none;
}


.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .people {
  display: flex;
  font-weight: bold;
  font-size: 16px;
}

header .item {
  display: flex;
}

header img + img {
  margin-left: 8px;
}

header li + li {
  margin-left: 16px;
}

header a {
  display: flex;
  flex-direction: column;
  text-align: center;
}

header .item li {
  font-size: 12px;
}

header li a i {
  font-size: 18px;
}

header .wrapper {
  max-width: 1100px;
 margin: 0 auto;
 padding: 0 4%;

}

header .left-side {
  display: flex;
}

header .left-side img + ul {
margin-left: 16px;
}
/* main */
main .home-content {
  text-align: center;
  color: #fff;
}


main .home-content p {
  font-size: 14px;
  margin: 12px 0 42px;
  
}

main .button {
background: #0bd;
color: #fff;
border-radius: 5px;
padding: 18px 24px;
}

.button:hover {
  background: #0090aa;
}

.big-bg {
  background-size: cover;
  background-position: center top;
}

#home {
  background-image: url(../img/picture1.png);
  min-height: 100vh;
}

main h2 {
  padding-top: 25%;
}
/* footer */

/* レスポンシブ対応 */
@media (max-width: 600px) {
  main .page-title {
    font-size: 2.5rem;
  }

  main .page-header {
    flex-direction: column;
  }
}
